body {
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
  }
.header {
    font-family: "Noticia Text", serif;
    color: white;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.scarface-img {
    width: 60%;
    height: 500px;
}
.theme-button {
    background-color: red;
}
.pause-button {
    background-color: black;
}
.musicControls {
    margin-top: 20px;
}