body {
    background: url("../background.jpg");
  }
.header {
    font-family: "Noticia Text", serif;
    color: white;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
h1 {
    padding-bottom: 15px;
}
.scarface-img {
    width: 60%;
    height: 500px;
    margin-left: 250px;
}
.theme-button {
    background-color: red;
}
.outro-button {
    background-color: red;
}
.pause-button {
    background-color: black;
}
.outro-pause-button {
    background-color: black;
}
.musicControls {
    position: relative;
    margin-top: 20px;
    margin-left: 45%;
}
.game-box {
    border: solid white 5px;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    color: red;
    text-align: center;
}
h3 {
    padding-top: 15px;
}
.footer {
    margin-bottom: 50px;
}